*.swp
*.swo
*.log
*.tmp
*.bak
*.cache
.DS_Store
Thumbs.db


.vs/

*.user
*.userosscache
*.sln.docstates
*.suo


[Bb]in/
[Oo]bj/
/publish/
*.msi
*.cache
*.nupkg

[Nn]u[Gg]et/
*.nupkg
packages/
!**/packages.config

./minio-data