.ModalWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal {
    position: absolute;
    padding: 40px 25px 25px;
    border-radius: 4px;
    min-width: 250px;
    z-index: 4;
    display: flex;
    flex-direction: column;
}

.Cross {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}