* {
  padding: 0;
  margin: 0;
  font-family: NTSomic-Regular;
  box-sizing: border-box;
}

:root {
  --accent-color: #d90429;
  --accent-color-focused: #ef233c;
  --accent-color-selected: #f02a41;
  --border-color: #8d99ae;
  --panel-color: #edf2f4;
  --title-color: #ef233c;
  --selected-color: #2b2d42;
}

@font-face {
  font-family: NTSomic-Regular;
  src: url("./fonts/NTSomic-Regular.ttf");
}