.Modal {
    width: 600px;
    height: 350px;
    background-color: white;
    align-items: center;
}

.InputText {
    background-color: white;
}

.InputText input {
    background-color: white;
}

.Image {
    width: 160px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ImageWrapper {
    padding: 10px;
}

.Wrapper {
    display: flex;
    width: 100%;
}

.InputsWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ButtonWrapper {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
